$contentBackground: #fff;
$fontSettings: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$headerBackground: #EFEFEF url("../img/header_background_v1.jpg") no-repeat center;
$postBackground: #EFEFEF;
$navMenuColor: #fff;
$buttonColor: #01ACAC;