/* 1) Print version */
@media print {
 
    body {
        background: transparent;
    }

    .tm-sidebar,
    #about,
    section:not(:first-of-type) {
        display: none;
    }

	.tm-banner {
        height: 200px;
    }

    .tm-main-content {
        margin-left: 0;
        padding-left: 0;
    }

    .pad {
        padding: 0 0 0 20px;
    }

    h2.tm-section-title {
        color: blue;
    }

    .flex-2-col {
        display: block;
    }

    .flex-item:last-child {
        text-align: center;
    }

    .tm-team-description-container {
        max-width: 100%;
    }
}

@media screen {
    /* 2) Images within tiles should be rounded and tiles with text should have hover effect */
    .thumbnail {
        border-radius: 50%;
    }
    .tm-section-title-box{
    	border-right: 1px solid silver;
    	font-size: 3em;
    }
    .tm-section-title-box:hover {
        background-color: #2aabd2;
        font-weight: bold;
        color: white;
        cursor: pointer;
    }

    /* 3) Change color of first letter in each paragraphs to #76cdd7 and font size to 30px. */
    p:not(.text-xs-center):first-letter {
        color: #76cdd7;
        font-size: 30px;
    }

    /* 4) Add box shadow to sidebar and each content block. */
    .tm-main-nav,
    .tm-content-box {
        box-shadow: 0 0 10px black;
    }

    /* 5) Add triangle to each section on the page using pseudo elements */
    .tm-content-box {
        position: relative;
    }

    .tm-content-box:not(:empty)::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 25px solid #2aabd2;
        border-right: 120px solid transparent;
        z-index: 1;
    }

    /* 6) Change color of ‘How We Do It’ to gainsboro and add letter spacing 5px */
    .carousel-item .tm-section-title {
        color: gainsboro;
        letter-spacing: 5px;
    }

    /* 7) Each first paragraph which placed after h2 tag should have italic font style */
    h2 + p {
        font-style: italic;
    }

    /* 8) Vertical space between lines is increased, there is some free space at the start of the first line */
    p:not(.tm-banner-text) {
        line-height: 2em;
        text-indent: 1em;
    }

    /* 9) */
    .heading h2 {
        text-align: center;
        color: #76cdd7;
    }

    .pad ol a {
        color: black;
    }

    .pad ol a:visited {
        color: silver;
    }

    .pad ol a:hover {
        color: #76cdd7;
        text-decoration: underline double;
    }

    .pad ol a.text::after {
        content: "New";
        color: red;
        font-size: .7em;
        vertical-align: super;
    }

    /* 10) ) Add layout and styles for following block */
    .gallery-container .box:nth-child(odd) {
        background-color: whitesmoke;
    }

    .boxes.gallery-container div > h2{
        font-size: 2.8em;
        border-bottom: 30px;
    }

    .boxes.gallery-container .box p {
        font-size: 1.5em;
        line-height: 1.6em;
        text-indent: initial;
        color: black;
    }

    .boxes.gallery-container .box p:first-letter {
        color: black;
    }

    .tm-box-bg-title {
        background-color: white;
    }

    /* 11)You need to add the silver border to the bottom of each item, except the last one  */
    .tm-nav-item:not(:last-of-type) {
        border-bottom: silver 2px dotted;
    }

    /* 12) Change the text color of text inputs and submit button to red */
    .contact-form input,
    .contact-form button {
        color: red;
    }

    .mandatory-field::after {
        content: "*";
        font-weight: bold;
        color: red;
    }

    .submit-btn:hover {
        color: white;
        background: #76cdd7;
        border-color: transparent;
    }
}
