$pageBackground: #EEF3FA;
$contentBackground: #EFEFEF;
$fontFamily: serif;
$borderColor: #CFD8DC;
$mainColor: #FC5830;
$postBackground: #FFFFFF;
$postDescriptionColor: #BDBFCE;
$cardheaderColor: #617D8A;
$paragraphColor: #757575;
$formColor: #CFD8DC;